.primeira-div {
    background-color: aqua;
    height: 30px;
    width: 300px;
}

.segunda-div {
    background-color: #23d87d;
    height: 30px;
}

.primeiro-link {
    background-color: coral;
}
strong {
    background-color: cornflowerblue;
}
.terceira-div {
    background-color: crimson;
    height: 30px;
    width: 300px;
}
.quarta-div {
    background-color: #23d87d;
    height: 30px;
    width: 300px;
}